::ng-deep .mat-typography h4 {
    font: revert !important;
  }

.page-header {
    margin-top: 25px;
}
.page-header h4 {
    font-family: EYInterstate !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    color: #2E2E38 !important;
}
.motif-card {
    border: 1px solid #C4C4CD !important;
    height: 154px !important;
    width: 342px !important;
    position: relative;
    margin-right: 16px;
}

 .admin-container {
    margin-top: 60px;
    position: relative;
   
}

.sub-header h4 {
font-family: EYInterstate !important;
font-size: 24px !important;
line-height: 32px !important;
color: #2E2E38 !important;
}
.sub-module-container {
    display: flex;
}
.card-button {
    width: 102px;
    position: absolute;
    bottom: 19px;
    right: 27px;
}
.card-block {
    padding-top: 24px;
    padding-left: 16px;
    font-family: EYInterstate;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.card-block span {
    font-family: EYInterstate;
    font-size: 12px;
    line-height: 16px;
    color: #747480;
}
.motif-card:hover{
    box-shadow: none !important;
}
button.motif-button:focus, button.motif-button:active {
    box-shadow: none !important;
}
.card-button a {
    text-decoration: none !important;
}