<div class="page-header">
    <h1 class="motif-h1">Administration</h1>
</div>
<div class="admin-container">
    <div class="sub-header"><h4>Subscribed modules</h4></div>
    <div class="sub-module-container">
        <motif-card *ngIf="!is_Tax_Reporting" >
            <div class="card-block">
                Regulatory Reporting
                <br><span>Last modified 5 days ago</span>
            </div>
            <div class="card-button">
               <button motifButton color="primary-alt" (click)="routeAdmin({moduleName: 'Regulatory Reporting', moduleId: 2})">View</button>
            </div>
        </motif-card>
        <motif-card>
            <div class="card-block">
                Tax Reporting
                <br><span>Last modified 5 days ago</span>
            </div>
            <div class="card-button">
               <button motifButton color="primary-alt" (click)="routeAdmin({moduleName: 'Tax Reporting', moduleId: 4})">View</button>
            </div>
        </motif-card>
        <motif-card *ngIf="!is_Tax_Reporting">
            <div class="card-block">
                Data Intake
                <br><span>Last modified 5 days ago</span>
            </div>
            <div class="card-button">
                <button motifButton color="primary-alt" (click)="routeAdmin({moduleName: 'Data Intake', moduleId: 3})">View</button>
             </div>
        </motif-card>
        <motif-card>
            <div class="card-block">
                Administration
                <br><span>Last modified 5 days ago</span>
            </div>
            <div class="card-button">
                <button motifButton color="primary-alt" (click)="routeAdmin({moduleName: 'Admin', moduleId: 1})">View</button>
             </div>
        </motif-card>
    </div>
</div>
