<div class="archived">
  <div class="title">
    <motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'">
    </motif-icon> Notifications archive ({{notificationsData?.length}})
  </div>
  <div class="table-header">

  </div>
  <div class="table">
    <lib-shared-grid gridStyle="second" displayCheckBox="true" [columnDefs]="columnDefs" [rowData]="notificationsData"
                     rowSelection="multiple" [button]="false" [search]="false" [defaultColDef]="{}"></lib-shared-grid>
  </div>
</div>
