.archived {
  .title {
    padding: 20px;
    font-size: 20px;
    color: #3C3C4B;
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
}

.archived-table-heading {
  width: 300px;
  margin-left: auto;
  display: flex;

  .search {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
  }

  .export {
    font-size: 14px;
    color: #155CB4;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
  }
}

.select-all {
  position: absolute;
  top: 266px;
  left: 325px;
  z-index: 100;
}

.actionsTemplate {
  display: flex;

  ::ng-deep {
    .margin-icon {
      margin-right: 10px;
    }

    .motif-icon-content {
      width: 16px;
      height: 16px;
      display: flex;
      margin-left: auto;
    }
  }
}

.dropdownTemplate {
  display: flex;
}
