<div class="notification-item">
  <div class="notification-texts">
    <div class="notification-title">
      <motif-icon *ngIf="content?.flagged" class="icon" [src]="'/assets/icons/is-flagged.svg'"></motif-icon>
      {{notification?.subject.length < 20 && !notification?.expanded ? notification?.subject : notification?.subject.substring(0, 20) + '...'}}
    </div>
    <div [ngClass]="notification?.expanded ? 'notification-desc' : 'notification-short-desc'"
         [innerHTML]="content?.content"></div>
  </div>
  <div class="notification-actions">
    <motif-icon class="expand" [class.up]="notification?.expanded" [src]="'/assets/icons/expand_more.svg'" (click)="expand(notification?.engineId)">
    </motif-icon>
    <div class="notification-date">{{calculateNotificationTime(notification?.createDate)}}</div>
    <div class="notification-icons" *ngIf="notification?.expanded">
      <motif-icon (click)="archive()" class="icon" [src]="'/assets/icons/archived.svg'"></motif-icon>
      <motif-icon (click)="flag()" class="icon" [src]="content?.flagged ? '/assets/icons/is-flagged.svg' : '/assets/icons/flag.svg'"></motif-icon>
      <motif-icon (click)="delete()" class="icon no-margin" [src]="'/assets/icons/trash.svg'"></motif-icon>
    </div>
  </div>
</div>
