.notification-item {
  display: flex;
  justify-content: space-between;
  background: #F6F6FA;
  opacity: 0.8;
  padding: 15px;
  white-space: break-spaces;
  border: 0.999px solid #EAEAF2;

  .notification-texts {
    .notification-title {
      font-size: 14px;
      line-height: 20px;
      color: #23232F;
    }

    .notification-desc {
      font-size: 12px;
      line-height: 16px;
      color: #747480;
    }
  }

  .notification-actions {
    .expand {
      cursor: pointer;
      margin-bottom: 12px;

      &.up {
        ::ng-deep {
          .motif-icon-content {
            transform: rotate(180deg);
          }
        }
      }

      ::ng-deep {
        .motif-icon-content {
          width: 12px;
          height: 14px;
          display: flex;
          margin-left: auto;
        }
      }
    }

    .notification-date {
      font-size: 12px;
      color: #747480;
    }
  }
}
