<motif-toast [type]="'success'" [show]="showToastAfterDeleteTeams">Team member has been deleted successfully</motif-toast>
<div class="user-details-wrapper">
  <div class="back-wrapper">
    <motif-icon class="back-button" [src]="'/assets/icons/hardware/ic_keyboard_backspace_24px.svg'" (click)="backtoTeamVIew()"></motif-icon>
    &nbsp;<span class="back-opt">&nbsp;  Back</span>
  </div>
  <div class="user-info-header">
    <h3>Team Details</h3>
    <motif-icon [src]="'/assets/icons/editor/ic_mode_edit_24px.svg'" [class.disabled]="!is_editable" class="user-edit"
      *ngIf="!enableEditor && teamInfo" (click)="enableEditForm()">
      <span *ngIf="!enableEditor && teamInfo" [class.disabled]="!is_editable" (click)="enableEditForm()">Edit</span>
    </motif-icon>
    <div class="edit-form" *ngIf="enableEditor">
      <button class="save-submit" motifButton color="primary" size="small" [disabled]="editTeamForm.invalid"
        [ngClass]="editTeamForm.invalid ? 'dis-button' : ''" (click)="onSubmitEditTeamForm(editTeamForm)">Save</button>
      <button motifButton color="secondary" class="btn_close" (click)="cancelForm()">Cancel</button>
    </div>
  </div>

  <div class="team-detailscontent-container" *ngIf="!enableEditor && teamInfo">
   
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 lablel-heading">
            Team Name
          </div>
          <div class="col-md-7  lablel-heading">
            Description
          </div>
          <div class="col-md-5 label-value">
            {{teamInfo?.teamName}} 
          </div>
          <div class="col-md-7  label-value">
            {{teamInfo?.description}}
          </div>
          <div class="col-md-12 lablel-heading cust-col-role">
            Role
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-5 label-value cust-col-role-value">
            {{teamInfo?.role}}
          </div>
          <div class="col-md-5"></div>
        </div>
    </div>

  </div>

  <div class="team-detailscontent-container" *ngIf="enableEditor && teamInfo">
  
    <div class="container-fluid">
      <form [formGroup]="editTeamForm" *ngIf="editTeamForm">
        <div class="row">
          <div class="col-md-5 lablel-heading">
            Team Name
          </div>
          <div class="col-md-7 lablel-heading">
            Description
          </div>
          <div class="col-md-5">
            <motif-form-field>
              <input motifInput type="text" aria-label="Email Form Field" formControlName="teamName" (keyup)="teamDuplicateCheck($event.target.value)"/>
              <motif-error *ngIf="editTeamForm.get('teamName').hasError('required')">Please provide Team name!
              </motif-error>
              <motif-error *ngIf="editTeamForm.get('teamName').hasError('pattern')">Team name must be alpha numeric!
              </motif-error>
              <motif-error *ngIf="editTeamForm.get('teamName').hasError('maxlength')">Team name can be max 50 characters long</motif-error>
              <motif-error *ngIf="editTeamForm.get('teamName').hasError('whitespace')">Please enter valid data
              </motif-error>
              <motif-error *ngIf="editTeamForm.get('teamName').hasError('teamDuplicate')">Team name already exits
              </motif-error>
            </motif-form-field>
          </div>
          <div class="col-md-7">
            <motif-form-field>
              <textarea motifInput class="motif-textarea" formControlName="description"></textarea>
              <motif-error *ngIf="editTeamForm.get('description').hasError('maxlength')">Description can be max 250 characters long
              </motif-error>
            </motif-form-field>
          </div>
          <div class="col-md-5 lablel-heading cust-col-role">
            Role
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-5 cust-col-role-value">
            <motif-form-field>
              <motif-select formControlName="role" aria-label="Aria Label" >
                <motif-option *ngFor="let item of roleList;index as i;" [value]="item.role">
                  {{item.roleName}}</motif-option>
              </motif-select>
            </motif-form-field>
          </div>
          <div class="col-md-5"></div>
        </div>
      </form>
    </div>

  </div>

  <motif-toast [type]="'success'" [show]="showToastAfterEditTeam">Team details has been updated successfully!</motif-toast>
  <motif-tab-bar>
    <button motifButton (click)="adminTabChange(1)" class="motif-text-link"
      [ngClass]="tabIn == 1 ? 'motif-active' : ''">Team members</button>
    <button motifButton (click)="adminTabChange(2)" class="motif-text-link"
      [ngClass]="tabIn == 2 ? 'motif-active' : ''">Assignments</button>
    <button motifButton (click)="adminTabChange(3)" class="motif-text-link"
      [ngClass]="tabIn == 3 ? 'motif-active' : ''">Funds</button>
  </motif-tab-bar>
  <div *ngIf="tabIn == 1">

    <lib-shared-grid [disableAddMemberButton]="disableAddMemberButton" [columnDefs]="columnDefs" (newEventToParent)="addTeamMembers($event)" [rowData]="teamsMemberData" [buttonText] ="'Add member'" rowSelection="multiple" buttonPosition="right" [defaultColDef]="{}" displayCheckBox="{{displayCheckBox}}" gridStyle="third"></lib-shared-grid>

    <ng-template #actionSection let-row>
      <div class="delete-icon" (click)="deleteTeamMember(row)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.5 3L15.5 4H19V6H5V4H8.5L9.5 3H14.5ZM6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9Z"
            fill="#155CB4" />
        </svg>
      </div>
    </ng-template>

    <motif-modal class="new-team-member-modal" [show]="addTeamMemberModal" (close)="closeTeamMemberModal()">
      <motif-modal-header>
        Add member to team
      </motif-modal-header>
      <motif-modal-body>
    
        <form [formGroup]="addTeamMemberForm">
          <span class="description"> Select members to add to this team below
          </span>
          <div class="motif-row">
            <div class="motif-col-xs-4 motif-col-lg-12">
              <motif-form-field>
                <label motifLabel class="select-label">Select</label>
                <motif-select aria-label="Please select an option" [multiple]="true" formControlName="members" (change)="logEvent($event, 'multi', addTeamMemberForm.controls.members.value)">
                  <motif-option [value]="member" *ngFor="let member of users">{{member.userFirstName}} {{member.userLastName}}</motif-option>
                  <!-- <motif-option [value]="member" *ngFor="let member of members">{{member}}</motif-option> -->
                </motif-select>
                <motif-error *ngIf="
                                  addTeamMemberForm.get('members').hasError('required') &&
                                  addTeamMemberForm.get('members').touched">Please provide a team member!</motif-error>
              </motif-form-field>
            </div>
            <!-- <div class="motif-col-xs-4 motif-col-lg-12">
              <motif-chip-group>
                <motif-chip *ngFor="let member of this.addTeamMemberForm.controls.members.value" [removeable]="true" (remove)="removeChipMember($event)">{{member.userFirstName}} {{member.userLastName}}</motif-chip>
              </motif-chip-group>
            </div> -->
            <div class="motif-col-xs-4 motif-col-lg-12 add-member-note">
              <span><b>NOTE:</b> If you cannot find a user, please be sure they are added to the system from the User tab.</span>
            </div>
          </div>
        </form>
        <!-- <span class="add-member-note"><b>NOTE:</b> If you cannot find a user, please be sure they are added to the system from the User tab.</span> -->
      </motif-modal-body>
      <motif-modal-footer>
        <button motifButton class="approve-yes" color="primary" (click)="onSubmitNewTeamMembers()"
          [disabled]="addTeamMemberForm.invalid">Save</button>
        <button motifButton class="approve-no" color="secondary" (click)="closeTeamMemberModal()">Cancel</button>
      </motif-modal-footer>
    </motif-modal>

    <motif-toast [type]="'success'" [show]="showToastAfterAddTeamMember">Team members added successfully</motif-toast>
  </div>
</div>