.page-header {
    margin-top: 25px;
    margin-bottom: 35px;
}
.page-header h4 {
font-family: EYInterstate !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 32px !important;
line-height: 48px !important;
color: #1A1A24;
}
button.motif-text-link {
font-family: EYInterstate;
font-style: normal;
font-weight: 300 !important;
font-size: 14px !important;
line-height: 22px;
color: #2E2E38 !important;
padding: .85714rem 1.6rem .7rem 1.6rem !important;
}
button.motif-active.motif-text-link{
font-family: EYInterstate;
font-style: normal;
font-weight: bold !important;
font-size: 14px !important;
line-height: 22px;
color: #2E2E38 !important;
}
button.motif-text-link:focus, button.motif-text-link:active {
    box-shadow: none !important;
}

.delete-icon {
    margin-left: 10px !important;
    cursor: pointer;
}

::ng-deep .motif-icon.motif-icon.edtor-icon {
    cursor: pointer;
}

::ng-deep .motif-icon.motif-icon.edtor-icon.ng-star-inserted svg {
    fill:#155CB4 !important;
    height: 1.51429rem !important;
    width: 1.51429rem !important;
} 

::ng-deep .motif-icon.motif-icon.edtor-icon.ng-star-inserted svg path {
    fill-opacity: 1 !important;
}

::ng-deep.motif-toast {
    // width: 30%;
    position: fixed;
    right: 0px;
    margin-right: 2%;
    top: 50px;
    z-index: 9 !important;
    .motif-toast-content {
        font-family: EYInterstate
    }
    .motif-button {
        color: #1a1a24;
    }
    .motif-icon-button {
        display: none !important;
    }
}
.new_team_modal {
    ::ng-deep .motif-modal-content {
        width: 50% !important;
    }
    .description {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
    }
    .motif-row {
        margin-top: 12px;
    }
}