<motif-toast [type]="'success'" [show]="showToastAfterDeleteTeams">Team has been deleted successfully</motif-toast>

<div class="page-header">
    <h1 class="motif-h1">Regulatory reporting</h1>
</div>
<motif-tab-bar>
    <button motifButton (click)="adminTabChange(1)" class="motif-text-link" [ngClass]="tabIn == 1 ? 'motif-active' : ''">Teams</button>
    <button motifButton (click)="adminTabChange(2)" class="motif-text-link" [ngClass]="tabIn == 2 ? 'motif-active' : ''">Users</button>
    <button motifButton (click)="adminTabChange(3)" class="motif-text-link" [ngClass]="tabIn == 3 ? 'motif-active' : ''">Filings</button>
</motif-tab-bar>


<app-users *ngIf="tabIn == 2"></app-users>

<div *ngIf="tabIn == 1">

    <lib-grid [columnDefs]="columnDefs" [rowData]="teamsData" [buttonText] ="'Add team'" rowSelection="multiple" buttonPosition="right" displayCheckBox="{{displayCheckBox}}"></lib-grid>

    <ng-template #actionSection let-row>
        <motif-icon class="edtor-icon" [src]="'/assets/icons/editor/ic_border_color_24px.svg'" (click)="editTeams(row)">
        </motif-icon>
        <div class="delete-icon" (click)="deleteTeams(row)">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14.5 3L15.5 4H19V6H5V4H8.5L9.5 3H14.5ZM6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9Z"
              fill="#155CB4" />
          </svg>
        </div>
      </ng-template>

</div>
<div *ngIf="tabIn == 3"><br>Filings</div>