<div class="page-header">
    <h1 class="motif-h1">Regulatory reporting</h1>
</div>
<motif-tab-bar>
    <button motifButton (click)="adminTabChange(1)" class="motif-text-link" [ngClass]="tabIn == 1 ? 'motif-active' : ''">Teams</button>
    <button motifButton (click)="adminTabChange(2)" class="motif-text-link" [ngClass]="tabIn == 2 ? 'motif-active' : ''">Users</button>
    <button motifButton (click)="adminTabChange(3)" class="motif-text-link" [ngClass]="tabIn == 3 ? 'motif-active' : ''">Filings</button>
</motif-tab-bar>


<app-users *ngIf="tabIn == 2"></app-users>

<div *ngIf="tabIn == 1"><br>Teams</div>
<div *ngIf="tabIn == 3"><br>Filings</div>