<section id="app-container" *ngIf="showHeaderFooter">

  <mat-toolbar class="app-header">
    <section class="ey-logo-container">
      <div class="header-hamburger">
        <motif-icon [src]="'/assets/icons/navigation/ic_menu_24px.svg'" (click)="toggleSideNav()"></motif-icon>
      </div>
      <!-- <div class="ey-icon">
        <img src="assets/img/ey-logo-white.png" height="32.49" width="31.32">
      </div>
      <div class="ey-text" fxFlex="none">
        <span>Comply</span>
      </div> -->

      <motif-header [fixed]="true" appHeaderName="Comply">
        <motif-header-logo>
          <a routerLink="/" tabindex="0" aria-label="Home Page Link">
            <img src="./assets/images/ey-logo-inverted.svg" alt="EY Motif Logo" />
          </a>
        </motif-header-logo>
      </motif-header>

    </section>



    <ul id="user-info">
      <li class="user-text">Welcome</li>
      <li class="header-avatar">
        <motif-avatar status="online"></motif-avatar>
      </li>
      <li class="header-notification">
        <motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'" (click)="notification()"></motif-icon>
      </li>
      <li class="singn-out">
        <motif-icon [src]="'/assets/icons/action/ic_input_24px.svg'"></motif-icon>
      </li>

    </ul>

    <div class="admin-container" *ngIf="isNotification">
      <div>
        <div class="notification-bell-trianlgle">
          <motif-icon [src]="'/assets/icons/action/ic_change_history_24px.svg'"></motif-icon>
        </div>

        <motif-card>
          <motif-card-header>
            <div class="notification-header">
            <div class="card-block banner-header">
              Notifications

            </div>
            <div class="card-block banner-header-right">
              <div style="display: inline-block;">
                <motif-icon [src]="'/assets/icons/action/ic_done_all_24px.svg'"></motif-icon>
              </div>

              <div class="mark-all-message"> Mark all as read</div>

            </div>
          </div>
          </motif-card-header>
          <li class="notification-message">
            <motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'" (click)="notification()">
            </motif-icon>
          </li>
          <div class="not-error-block">There are no notifications to display.</div>
          <div class="card-button">
            <button motifButton color="primary-alt" class="notification-button" (click)="navigatetonotifi()">View
              All</button>
          </div>
        </motif-card>
      </div>
    </div>
  </mat-toolbar>

  <div id="sidenav-and-content">

    <section id="sidenav">
      <ul id="sidenav-list">

        <li [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" routerLink="home" routerLinkActive="active">
          <motif-icon [src]="'/assets/icons/action/ic_dashboard_24px.svg'"></motif-icon>
          <span>Home</span>
        </li>

        <!-- <li [class.active]="regreporting.isActive && mini" [class.submenu-open]="opensubmenu === 'managed-submenu'" [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" (click)="toggleSubMenu('managed-submenu')"> -->
        <li [class.submenu-open]="opensubmenu === 'managed-submenu'"
          [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" (click)="toggleSubMenu('managed-submenu')">
          <motif-icon [src]="'/assets/icons/places/ic_room_service_24px.svg'"></motif-icon>
          <span>Managed Services</span>
          <motif-icon *ngIf="opensubmenu === 'managed-submenu'" class="sidenav-accordion-icon"
            [src]="'assets/icons/hardware/ic_keyboard_arrow_down_24px.svg'"></motif-icon>
          <motif-icon *ngIf="opensubmenu !== 'managed-submenu'" class="sidenav-accordion-icon"
          [src]="'/assets/icons/navigation/ic_chevron_right_24px.svg'"></motif-icon>
        </li>

        <li class="sidenav-submenu">
          <ul id="managed-submenu" class="submenu">
            <!-- <li class="sidenav-item" routerLink="home" routerLinkActive="active-submenu" #regreporting="routerLinkActive"> -->
            <li class="sidenav-item">
              <span [routerLink]="['/app-regulatory-filing']">Regulatory Reporting</span>
            </li>
            <!-- <li class="sidenav-item">
              <span>Tax Compliance</span>
            </li>
            <li class="sidenav-item">
              <span>Financial Reporting</span>
            </li> -->
          </ul>
        </li>

        <li [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" routerLink="administration"
          routerLinkActive="active">
          <motif-icon [src]="'/assets/icons/action/ic_supervisor_account_24px.svg'"></motif-icon>
          <span>Admin</span>
        </li>

      </ul>
    </section>

    <main id="main-container" cdkScrollable>
      <section class="main-section">
        <nav mat-tab-nav-bar class="tab-container">
        </nav>
        <router-outlet></router-outlet>
      </section>

      <footer>
        <div class="footer-links">
          <a href="https://www.ey.com/en_gl/legal-and-privacy">Legal and Privacy</a>
          <a href="https://www.ey.com/en_gl/connect-with-us">Connect with Us</a>
          <a
            href="https://accessidp.idaas.ey.com/as/authorization.oauth2?response_type=code&client_id=IDaaSClient_DMZ_SAM&redirect_uri=https%3A%2F%2Feyonline.ey.com%2Fpa%2Foidc%2Fcb&state=eyJ6aXAiOiJERUYiLCJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2Iiwia2lkIjoibHMiLCJzdWZmaXgiOiJuVU1IVmIuMTU5MDA3Mjc5MyJ9..2bkA7Y2XNVSO6d5GOt_mBQ.NOFgVF7ID_K0-Pmnz7ITOSgoKlI1hzcin7liGS2YTVzfrvSJFVn0gFJrYweyua-SU_rlKgyyx13zsJOUy2pjACLXRQQh4K1Lut5UUAYkc1E.t0WA7nBOH0hDf11LMOUS-A&nonce=p3wkc9c919gFA0plLQjuCYbjtKTskwLN49wmApHKO8g&acr_values=EY_IDAASDMZ&scope=openid%20profile%20address%20email%20phone&vnd_pi_requested_resource=https%3A%2F%2Feyonline.ey.com%2Feysso%2Fmainframen.aspx&vnd_pi_application_name=EY_ClientPortal">EY
            Client Portal</a>
          <a href="https://www.ey.com/en_gl/locations">Our Locations</a>
          <a href="https://www.ey.com/en_gl/sitemap">Site Map</a>
        </div>
        <div class="ey-icon">
          <img src="assets/img/ey-logo-white.png" height="32.49" width="31.32">
        </div>
        <p>EY refers to the global organization, and may refer to one or more, of the member firms of Ernst & Young
          Global Limited, each of which is a separate legal entity. Ernst & Young Global Limited, a UK company limited
          by guarantee, does not provide services to clients.</p>
      </footer>

    </main>
  </div>

</section>

<div *ngIf="!showHeaderFooter">
  <router-outlet></router-outlet>
</div>
