<div [hidden]="!isLoading" *ngIf="isLoading | async">
  <div class="revised-loading">
    <motif-progress-bar [progress]="100" [circle]="true">
    </motif-progress-bar>
  </div>
</div>
<section id="app-container" *ngIf="showHeaderFooter" (click)="outsideClick($event)">
<mat-toolbar class="app-header">
    <section class="ey-logo-container">
      <div class="header-hamburger">
        <i *ngIf="mini" class="material-icons" id="menu-icon" (click)="toggleSideNav()">menu</i>
        <i *ngIf="!mini" class="material-icons" id="menu-open-icon" (click)="toggleSideNav()">menu_open</i>
      </div>
      <motif-header [fixed]="true" appHeaderName="Comply">
        <motif-header-logo>
          <a tabindex="0" aria-label="Home Page Link">
            <img src="./assets/images/ey-logo-inverted.svg" alt="EY Motif Logo" />
          </a>
        </motif-header-logo>
      </motif-header>
    </section>
    <ul id="user-info">
      <li class="user-text">Welcome {{ userGivenName }}</li>
      <li class="header-avatar">
        <motif-avatar [userName]="loginName" status="online" *ngIf="loginName"></motif-avatar>
      </li>
      <li class="header-notification" #notificationicon>
        <div id="bell-header">
          <motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'" (click)="notification()">
          </motif-icon>
        </div>
      </li>
      <li class="singn-out">
        <motif-icon [src]="'/assets/icons/action/ic_input_24px.svg'" (click)="logoff()"></motif-icon>
      </li>

    </ul>

    <div id="notifcationcontainer" class="admin-container" *ngIf="isNotification">
      <div #notification>
        <motif-card>
          <motif-card-header>
            <div class="notification-header">
              <div class="card-block banner-header">
                Notifications

              </div>
              <div class="card-block banner-header-right">
                <div style="display: inline-block;">
                  <motif-icon [src]="'/assets/icons/action/ic_done_all_24px.svg'"></motif-icon>
                </div>

                <div class="mark-all-message"> Mark all as read</div>

              </div>
            </div>
          </motif-card-header>
          <li class="notification-message">
            <motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'">
            </motif-icon>
          </li>
          <div class="not-error-block">There are no notifications to display.</div>
          <div class="card-button">
            <button motifButton color="primary-alt" class="notification-button" (click)="navigatetonotifi()">View
              All</button>
          </div>
        </motif-card>
      </div>
    </div>
  </mat-toolbar>

  <div id="sidenav-and-content">

    <section id="sidenav">
      <ul id="sidenav-list">

        <li *ngIf="hide_home_page" [hidden]="is_Sure_Foot" [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" routerLink="home" routerLinkActive="active">
          <motif-icon [src]="'/assets/icons/action/ic_dashboard_24px.svg'"></motif-icon>
          <span>Home</span>
        </li>

        <li
          [class.active]="(regreporting.isActive || dataintake.isActive || taxReporting.isActive) && mini || (regreporting.isActive || dataintake.isActive || taxReporting.isActive) && opensubmenu !== 'managed-submenu'"
          [class.submenu-open]="opensubmenu === 'managed-submenu'"
          [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" (click)="toggleSubMenu('managed-submenu')">
          <motif-icon [src]="'/assets/icons/places/ic_room_service_24px.svg'"></motif-icon>
          <div *ngIf="mini" class="triangle-bottomright"
            [class.active-triangle]="regreporting.isActive || dataintake.isActive || taxReporting.isActive"></div>
          <span>Managed Services</span>
          <motif-icon *ngIf="opensubmenu === 'managed-submenu'" class="sidenav-accordion-icon"
            [src]="'assets/icons/hardware/ic_keyboard_arrow_down_24px.svg'"></motif-icon>
          <motif-icon *ngIf="opensubmenu !== 'managed-submenu'" class="sidenav-accordion-icon"
            [src]="'/assets/icons/navigation/ic_chevron_right_24px.svg'"></motif-icon>
        </li>

        <li class="sidenav-submenu">
          <ul id="managed-submenu" class="submenu">
            <li [hidden]="is_Sure_Foot || !permission.isRegReporting" class="sidenav-item" [routerLink]="['/app-regulatory-filing']"
              routerLinkActive="active-submenu" #regreporting="routerLinkActive">
              <span>Regulatory Reporting</span>
            </li>
            <li [hidden]="is_Sure_Foot || !permission.isDataIntake" class="sidenav-item" [routerLink]="['/data-intake-landing']"
              routerLinkActive="active-submenu" #dataintake="routerLinkActive">
              <span>Data Intake</span>
            </li>
            <li [hidden]="!permission.isTaxReporting" class="sidenav-item" [routerLink]="['/app-tax-reporting']" routerLinkActive="active-submenu"
              #taxReporting="routerLinkActive">
              <span>Tax Reporting</span>
            </li>

            <li *ngIf="permission.isDMS" class="sidenav-item" [routerLink]="['/data-managed-services']" routerLinkActive="active-submenu"
              #taxReporting="routerLinkActive">
              <span>Data Managed Services</span>
            </li>
          </ul>
        </li>

        <li *ngIf="permission.isAdmin" [ngClass]="mini ? 'sidenav-item-mini' : 'sidenav-item'" routerLink="administration"
          routerLinkActive="active">
          <motif-icon [src]="'/assets/icons/action/ic_supervisor_account_24px.svg'"></motif-icon>
          <span>Admin</span>
        </li>

      </ul>
    </section>

    <main id="main-container" cdkScrollable>
      <section class="main-section">
        <nav mat-tab-nav-bar class="tab-container">
        </nav>
        <router-outlet></router-outlet>
      </section>

      <footer>
        <div class="footer-links">
          <a href="https://www.ey.com/en_gl/legal-and-privacy">Legal and Privacy</a>
          <a href="https://www.ey.com/en_gl/connect-with-us">Connect with Us</a>
          <a href="https://www.ey.com/en_gl/locations">Our Locations</a>
          <a href="https://www.ey.com/en_gl/sitemap">Site Map</a>
        </div>
        <div class="ey-icon">
          <img src="assets/img/ey-logo-white.png" height="32.49" width="31.32">
        </div>
        <p>EY refers to the global organization, and may refer to one or more, of the member firms of Ernst & Young
          Global Limited, each of which is a separate legal entity. Ernst & Young Global Limited, a UK company limited
          by guarantee, does not provide services to clients.</p>
      </footer>

    </main>
  </div>

</section>

<div *ngIf="!showHeaderFooter">
  <router-outlet></router-outlet>
</div>