@import "src/assets/styles/variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


#app-container {
  background-color: #f6f6fa;
}

.app-header {
    z-index: 1000;
    background-color: #2E2E38;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    flex: none;
    top: 0;
}

.ey-logo-container {
    display: flex;
    padding-bottom: 5px;
    .ey-icon {
        width: 31.21px;
        height: 32.49px;
        margin-left: 24px;
    }
    
    .ey-text{
        /* padding-top: 20px;
        font-family: NotoSans !important;
        font-size: 19px;
        font-weight: 100;
        line-height: 14px !important;
        color: #FFFFFF;
        margin-left: 10px; */
        font-family: EYInterstate;
        font-size: 17px;
        line-height: 20px;
        color: #F6F5FA;
        margin-top: 17px;
        margin-left: 15px;
    }
}

.close-window {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 34px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.menu-list-container {
    margin-top: 87px; 
}

.side-bar{
  margin: 0px 0 0px 36px;
}

.menu-sidenav-top-options {
    padding: 0;
    list-style: none;
    margin: 0;
}
.menu-sidenav-btm-options {
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-list-item {
    color: #FFFFFF;
    cursor: pointer;
    font-family: NotoSans;
    font-size: 16px;
    line-height: 25px;
    margin: 0 35px;
    padding: 16px 0;
    border-bottom: 1px solid #747480;
}

.menu-sidenav-top-options li:last-child {
    border-bottom: 0px;
}
.menu-sidenav-btm-options li:last-child {
  border-bottom: 0px;
}

.menu-icons {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    right: 0;
}

.fas {
    margin: 0 30px;
    cursor: pointer;
}

.divider-icon {
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: $color-gray;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: unset;
}

.mat-sidenav-container {
  background-color: #F6F6FA;
}

main {
    overflow: auto;
    height: 100%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

#main-container {
  max-width: calc(100% - 286px); //viewport width minus sidenav 
  margin-left: 286px; //sidenav width
  overflow-x: hidden;
}

.mat-sidenav {
    width: 25%;
    height: 100%;
    background-color: #2E2E38;
    z-index: 5000;
    min-width: 380px;
}

.mat-draw-inner-container {
  position: relative;
}

.main-section {
    margin-left: 41px;
    margin-right: 37px;
    flex: 1;
    min-height: calc(100vh - 130px)
}

.sidenav-coverage {
    height: 100%;
}

footer {
    flex: none;
    display: block;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 26px;
    background-color: #2E2E38;
    color: white;
    width: 100%;
    height: 182px;
    

    p {
        font-size: 12px;
        margin-top: 8px;
        line-height: 20px;
        max-width: 763px;
        color: #FFFFFF;
        font-family: 'EYInterstate' !important;
    }
}
 
.footer-links {
    text-align: right;
    margin-bottom: 8px;

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
        padding: 6px 12px;
        padding-bottom: 9px;
    }
}

.tab-container {
    margin-left: 8px;
}


.mat-tab-link {
  font-family: NotoSans;
  font-weight: 400;
    color: black;
    opacity: 1;
    min-width: 0;
    height: 30px;
    padding: 0px 2px;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 33px;
  }

.remove-bar:hover
{
  border: none;
  text-decoration: none; 
}

.select-bold
{
font-weight: bold;
}

  // .mat-tab-link {
  //   font-family: NotoSans;
  //   font-weight: 400;
  //   color: black;
  //   opacity: 1;
  //   min-width: 0;
  //   height: 30px;
  //   padding: 0px 2px;
  //   font-size: 16px;
  //   line-height: 20px;
  //   margin-top: 30px;
  //   margin-right: 33px;
  // }

  .mat-tab-header {
    border-bottom: none;
  }
 
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 10px solid #ffe600;
  }

  .tool-bar-icons{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

  .toolbar-user{
    font-family: EYInterstate !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 19px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    margin-right: 26px;
  }
  .toolbar-user:hover .userInfo{
    display:block;
  }

  .userInfo {
    z-index: 5;
    display:none;
    position: absolute;
    right:0px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 45.82px;
    padding-right: 34.36px;
    padding-bottom: 0px;
    height: max-content;
    width: 330px;
    p{
      text-align: left;
      background-color: white;
      margin-bottom: 0px;
    //  padding-top: 10px;
    }
  }

  .dropdownUserInfo {
    font-family: EYInterstate;
    font-size: 14px;
    line-height: 35px;
    color: black;
  }

  .userNames {
    background-color: white;
    border-bottom: 1px solid #979797 !important;
  }

  .dropdownUserInfo {
    font-family: EYInterstate;
    font-size: 14px;
    line-height: 35px;
    color: black;
  }

  .buttonLink:hover {
    background-color: rgb(246, 246, 250) !important;
    cursor: pointer;
  }
  .dropdownLinks {
    font-family: EYInterstate;
    font-size: 14px;
    line-height: 35px;
    color:  black !important;
    font-weight: 900;
  }
  .dropdownLinks:hover{
    border-bottom: 1px solid black !important;

  }

  .fa-user-circle {
    color: #C4C4C4;
    padding-left: 23.5px;
  }
  .fa-caret-down {
    color: white;
    padding-top: 8px;
    padding-left: 16px;
  }

  .userInfo-user-name{
    padding-top:20px;
    height: 55px;
    border-bottom: 1px solid #979797 !important;
    font-weight: 900;
  }
  .first-name-container{
    display: inline-flex;
  }
  .first-name-text{
    margin:0px;
    padding-top: 5px;
  }

  .userInfo-last-name-text{
    padding-bottom: 12px;
  }
  .userInfo-adfs-link{
    height: 104px;
  }

  .userInfo-adzure-link {
    height: 51px;
  }

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 0;
}

#header-right-section {
  right: 0px;
  position: absolute;
  color:#FFFFFF;
  margin-top: 10px;
}
.fa-user-circle {
  color: inherit;
  padding: 0px;
  font-size: 30px;
}
li.user-text {
font-size: 14px;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
line-height: 25px;
text-align: right;
color: #fff;
position: relative;
top: 2px;
margin-right: 12px;
}
.header-hamburger {
  display: inline-block;
  margin-top: 13px;
  cursor: pointer;
  z-index: 1;
}
#menu-icon, #menu-open-icon {
  color: #DADADA;
  font-size: 30px;
  padding-top: 7px;
  margin-left: -4px;
}
i.fas.fa-bars {
  margin: 0px;
}
li.header-notification {
  top: 10px;
  position: relative;
  cursor: pointer;
}
li.header-avatar {
  position: relative;
  // margin-bottom: 5px;
  top: 17px;
}
li.singn-out {
  top: 10px;
  position: relative;
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  margin-right: 25px;
}

ul#user-info {
  float: right;
  right: 0px;
  position: absolute;
  margin-top: -12px;
}

::ng-deep .header-name {
  top: 12px !important;
  position: relative !important;
  margin-left: .7rem !important;
}

#sidenav-and-content {
  display: flex;
  margin-top: 56px; //header height
}

#sidenav {
  background-color: #2E2E38;
  color: white;
  width: 286px;
  height: 100%;
  min-height: 100vh;
  // transition: all .3s ease;
  flex-shrink: 0;
  flex-grow: 0;
  position: fixed;
}

#sidenav-list {
  display: flex;
  flex-direction: column;
  background-color: #2E2E38;
  padding: 0;
  margin: 0;
  
  .sidenav-item, .sidenav-item-mini {
    height: 52px;
    display: flex;
    padding-left: 14px;
    align-items: center;
    margin: 0;
    outline: none;
    position: relative;
    ::ng-deep {
      svg {
          fill: #DADADA;
      }
    }
    &:hover {
      background-color: #23232F;
      cursor: pointer;
    }
    span {
      margin-left: 17px;
      font-family: EYInterstate;
      font-size: 14px;
      line-height: 16px;
    }
    .triangle-bottomright {
      width: 0;
      height: 0;
      border-bottom: 9px solid #c4c4cd;
      border-left: 9px solid transparent;
      margin: 0;
      position: absolute;
      left: 46px;
      bottom: 0px;
    }
    .motif-icon {
      flex-shrink: 0;
    }
    
  }
  .sidenav-item-mini {
    .sidenav-accordion-icon {
      visibility: hidden;
    }
    span {
      visibility: hidden;
    }
  }
  .active {
    background-color: #23232F;
    border-left: 5px solid #FFE600;
    padding-left: 9px;
    font-weight: 700;
    .triangle-bottomright {
      border-bottom: 9px solid #FFE600;
      left: 41px;
    }
  }
  .sidenav-submenu {
    margin: 0;
    background: #23232F;
  }
  .submenu {
    padding-left: 0;
    .sidenav-item {
      padding-left: 43px;
      &:hover {
        border-left: 5px solid #FFE600;
        padding-left: 38px;
      }
    }
    .active-submenu {
      border-left: 5px solid #FFE600;
      padding-left: 38px;
      font-weight: 700;
    }
  }
  .submenu-open {
    background-color: #23232F;
  }
}

#managed-submenu {
  display: none;
}

.sidenav-accordion-icon {
  position: absolute;
  right: 9px;
}

.admin-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 269px;
  position: relative;
  // margin-left: 1477px;
  max-width: 100%;
  width: 100%;
  
}

.sub-header h4 {
  font-family: EYInterstate;
  font-size: 24px;
  line-height: 32px;
  color: #2E2E38;
  }

  .card-block {
    // position: absolute;
    // top: 70px;
    left: 20px;
    font-family: EYInterstate;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.card-block span {
    font-family: EYInterstate;
    font-size: 12px;
    line-height: 16px;
    color: #747480;
}

.card-button {
  width: 102px;
  // position: absolute;
  top: 150px;
  left: 119px;
}
.motif-card {
    border: 1px solid #E7E7EA !important;
    height: 202px !important;
    width: 342px !important;
    box-sizing: border-box !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.motif-card-header, .motif-card-header{
   padding:none !important;
  border-bottom: none !important;
}

.not-error-block {
  font-family: EYInterstate;
  font-size: 22px;
  line-height: 20px;
  color: #747580;
  margin-top: 22px;
  font-family: EYInterstate;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 25px;
}

.notification-message {
  top: 13px;
  position: relative;
  cursor: pointer;
  // margin-top: 26px;
  margin-left: 144px;
}

.banner-header {
  // position: absolute;
  width: 95px;
  height: 18px;
  left: 24px;
  top: 30px;
  font-family: EYInterstate;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #2E2E38;
  display: inline-block;
}

.banner-header-right {
  
  width: 95px;
  height: 18px;
  left: 172px;
  top: 30px;
  font-family: EYInterstate;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #2E2E38;
  display: inline-block;
  margin-left: 25%;

}
.all-read {
  margin-right: 30px !important;
}

.mark-all-message {
    width: 70px;
    color: #747480;
    font-family: EYInterstate;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: inline-block; 
    bottom: 9px;
    position: relative;
    margin-left: 5px;
}
.notification-bell-trianlgle
{
  display: flex;
  justify-content: flex-end;
  margin-right: 16.2%;
  margin-top: 1%;
  margin-bottom: -1.5%;
}

.joint-div
{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.arrow {
  display: block;
  float: right;
  margin-top: .25em;
  border-color: transparent;
  border-top-color: #D00;
	border-style: solid;
	border-width: .5em .31em 0;
	width: 0;
	height: 0;
	position: relative;
  line-height: 0;
}
.arrow-up {
  border-width: 0 .31em .5em;
  border-top-color: transparent;
  border-bottom-color: #FA0;
  margin-bottom: 13px;
  margin-right: 5px;
}

.inner-tringle
{
  border: 1px solid #E7E7EA;
}
::ng-deep .motif-avatar.status-online {
  border-color: #F6F6FA !important;
}
::ng-deep .motif-avatar.size-small .motif-avatar-initials {
  background: inherit !important;
  
}

.notification-button 
{
  background-color: #FFE600;
  border-color: white;
  color: #2E2E38;
  margin-left: 110%;
  border: none;
}

.notification-button:hover{
  background-color: var(--btn-primary-bg-color);
    border-color: var(--btn-primary-border-color);
    color: var(--btn-primary-color);
    border: none;
 
}

::ng-deep .mat-body, .mat-body-1, .mat-typography {
  font: revert !important;
  font-family: EYInterstate !important; ;
}

.notification-header
{
  display: flex;
}


 
