<mat-sidenav-container class="sidenav-coverage" style="background-color: #f6f6fa !important;">
  
  <mat-sidenav-content>
    <mat-toolbar class="app-header">
      <section class="ey-logo-container">
        <div class="header-hamburger"> 
          <motif-icon [src]="'/assets/icons/navigation/ic_menu_24px.svg'"></motif-icon>
        </div>
        <div class="ey-icon">
          <img src="assets/img/ey-logo-white.png" height="32.49" width="31.32">
        </div>
        <div class="ey-text" fxFlex="none">
          <span>Comply</span>
        </div>
      </section>



      <ul id="user-info">
        <li class="user-text">Welcome</li>
        <li class="header-avatar"><motif-avatar status="online"></motif-avatar></li>
        <li class="header-notification"><motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'"></motif-icon></li>
        <li class="singn-out"><!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.09 12.59L8.5 14L13.5 9L8.5 4L7.09 5.41L9.67 8H0V10H9.67L7.09 12.59ZM16 0H2C0.89 0 0 0.9 0 2V6H2V2H16V16H2V12H0V16C0 17.1 0.89 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0Z" fill="white"/>
        </svg>  -->
        <motif-icon [src]="'/assets/icons/action/ic_input_24px.svg'"></motif-icon>
      </li>
      </ul>
             
      <!-- <section id="header-right-section">
        <div class="header-notification"><motif-icon [src]="'/assets/icons/social/ic_notifications_none_24px.svg'"></motif-icon></div>
        <div class="singn-out">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.09 12.59L8.5 14L13.5 9L8.5 4L7.09 5.41L9.67 8H0V10H9.67L7.09 12.59ZM16 0H2C0.89 0 0 0.9 0 2V6H2V2H16V16H2V12H0V16C0 17.1 0.89 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0Z" fill="white"/>
          </svg>  
        </div>
                
      </section> -->
  
    </mat-toolbar>

    <main id="main-container" cdkScrollable>
      <section class="main-section">
        <nav mat-tab-nav-bar class="tab-container">
         

        </nav>
        <router-outlet></router-outlet>
      </section>

      <footer>
        <div class="footer-links">
          <a href="https://www.ey.com/en_gl/legal-and-privacy">Legal and Privacy</a>
          <a href="https://www.ey.com/en_gl/connect-with-us">Connect with Us</a>
          <a
            href="https://accessidp.idaas.ey.com/as/authorization.oauth2?response_type=code&client_id=IDaaSClient_DMZ_SAM&redirect_uri=https%3A%2F%2Feyonline.ey.com%2Fpa%2Foidc%2Fcb&state=eyJ6aXAiOiJERUYiLCJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2Iiwia2lkIjoibHMiLCJzdWZmaXgiOiJuVU1IVmIuMTU5MDA3Mjc5MyJ9..2bkA7Y2XNVSO6d5GOt_mBQ.NOFgVF7ID_K0-Pmnz7ITOSgoKlI1hzcin7liGS2YTVzfrvSJFVn0gFJrYweyua-SU_rlKgyyx13zsJOUy2pjACLXRQQh4K1Lut5UUAYkc1E.t0WA7nBOH0hDf11LMOUS-A&nonce=p3wkc9c919gFA0plLQjuCYbjtKTskwLN49wmApHKO8g&acr_values=EY_IDAASDMZ&scope=openid%20profile%20address%20email%20phone&vnd_pi_requested_resource=https%3A%2F%2Feyonline.ey.com%2Feysso%2Fmainframen.aspx&vnd_pi_application_name=EY_ClientPortal">EY
            Client Portal</a>
          <a href="https://www.ey.com/en_gl/locations">Our Locations</a>
          <a href="https://www.ey.com/en_gl/sitemap">Site Map</a>
        </div>
        <div class="ey-icon">
          <img src="assets/img/ey-logo-white.png" height="32.49" width="31.32">
        </div>
        <p>EY refers to the global organization, and may refer to one or more, of the member firms of Ernst & Young
          Global Limited, each of which is a separate legal entity. Ernst & Young Global Limited, a UK company limited
          by guarantee, does not provide services to clients.</p>
      </footer>

    </main>
  </mat-sidenav-content>


  <!-- <mat-sidenav id="sidenav" fixedInViewport="true" [(opened)]="sideNavOpened" position="end" class="mat-sidenav">
    <button type="button" class="close-window" (click)="toggleSideNav()">&times;</button>

    <section class="menu-list-container">
      <ul class="menu-sidenav-top-options">
        
        <li class="menu-list-item">
          <div (click)="onNavigateToExternalApp()">Home</div>
        </li>
      </ul>
      <ul class="menu-sidenav-btm-options">
        <li class="menu-list-item">
          <div (click)="navigateToCookieSettings()">Cookie Settings</div>
        </li>
        <li class="menu-list-item">
          <div (click)="navigateToCookiePolicy()">Cookie Policy</div>
        </li>
      </ul>
    </section>
  </mat-sidenav> -->

</mat-sidenav-container>







