.notifications {
  width: 466px;
  position: absolute;
  right: -17px;
  top: -101px;

  ::ng-deep {
    .motif-card-header {
      border: none;
      padding: 15px 15px 0 15px;
    }
  }

  .filter-panel {
    width: 200px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    z-index: 10000;
    padding: 20px;

    .filter-panel-header {
      color: #747480;
      font-size: 16px;
      font-weight: 500;
    }

    .filter-panel-info {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    .container-checkbox {
      font-size: 14px;
      font-weight: 100;
    }
  }

  .expanded-panel {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 200px;
    height: 180px;
    position: absolute;
    z-index: 1000;
    top: 70px;

    &:after, &:before {
      bottom: 100%;
      left: 90%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(238, 238, 238, 0);
      border-bottom-color: white;
      border-width: 15px;
      margin-left: -15px;
    }

    &:before {
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #dddc;
      border-width: 16px;
      margin-left: -16px;
    }

    .expanded-panel-info {
      p {
        font-family: EYInterstate !important;
        font-style: normal !important;
        font-size: 14px;
        line-height: 16px;
        color: #2E2E38;
        margin-top: 23px;
        font-weight: 100;
        padding: 0 20px;
      }
    }
  }

  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner-header {
      font-size: 14px;
      font-weight: 700;
    }

    .banner-header-right {
      .right-icons {
        display: flex;
        width: 70px;
        justify-content: space-between;
      }
    }
  }

  .notifications-list {
    padding: 15px;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 20px;
  }

  .notifications-buttons {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    .notification-button {
      width: 170px;
      height: 44px;

      ::ng-deep {
        .motif-icon-content {
          width: 14px;
          margin-right: 5px;
        }
      }
    }
  }

  .notifications-filter {
    font-size: 14px;
    border: 1px solid;
    border-radius: 20px;
    width: 100px;
    padding: 0 11px;
    height: 26px;
    display: flex;
    align-items: center;
    margin-left: -155px;
    cursor: pointer;

    &.dark {
      background: #2E2E38;
      color: white;
    }

    .expand {
      margin-left: auto;
      cursor: pointer;
      ::ng-deep {
        .motif-icon-content {
          width: 14px;
        }
      }
    }
  }
}

.notification-icon-disabled {
  fill: gray;
  cursor: not-allowed;
  pointer-events: none;
}




