<script src="notifications-panel.component.spec.ts"></script>
<motif-card class="notifications" (click)="showPanel = false; showFilters = false; $event.preventDefault(); $event.stopPropagation();">
  <motif-card-header>
    <div class="notification-header">
      <div class="card-block banner-header">
        Notifications
      </div>
      <div class="notifications-filter dark" (click)="showPanel = !showPanel; showFilters = false; $event.preventDefault(); $event.stopPropagation();">
        All ({{notifications?.length}}) <motif-icon class="expand" [src]="'/assets/icons/expand_more_white.svg'"></motif-icon>
      </div>
      <div class="expanded-panel" *ngIf="showPanel">
        <div class="expanded-panel-info">
          <p>Assigned to me (0)</p>
          <p>@ Mentions (0)</p>
          <p>Exceptions (0)</p>
          <p>Flagged (0)</p>
        </div>
      </div>
      <div class="filter-panel" *ngIf="showFilters" (click)="eventStop($event)">
        <div class="filter-panel-header">
          Filter by Report
        </div>
        <div class="filter-panel-info">
          <label class="container-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            Form PF (2)
          </label>
          <label class="container-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            CPO-PQR (0)
          </label>
        </div>
        <div class="filter-panel-actions">
          <a href="#" motifTextLink color="primary-alt" (click)="onApplyFilters($event)">Apply</a>
          <a href="#" motifTextLink color="primary" (click)="onCancelApplyFilters($event)">Cancel</a>
        </div>
      </div>
      <div class="card-block banner-header-right">
        <div class="right-icons">
          <motif-icon routerLink="/notifications-preferences" [src]="'/assets/icons/preferences.svg'"></motif-icon>
          <motif-icon (click)="onClickFilters($event);" [src]="'/assets/icons/shape.svg'"></motif-icon>
        </div>
      </div>
    </div>
  </motif-card-header>
  <div class="notifications-list mt-3"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [scrollWindow]="false"
       (scrolled)="onScroll()"
       *ngIf="notifications?.length">
      <app-notification-item *ngFor="let item of notifications; let i = index" [notification]="item.request"
                             (expandNotification)="expand($event)" (deleteNotification)="delete(i)"
                             (archiveNotification)="archive(i)">
      </app-notification-item>
    </div>
  <div class="notifications-buttons">
    <div class="not-error-block p-3" *ngIf="!notifications?.length">There are no notifications to display.</div>
    <!-- Archived button needs to be enabled once the page functionality is completed -->
    <div class="card-button" [class.mt-3]="notifications?.length" *ngIf="archivedItems > 0">
      <button motifButton color="primary-alt" class="notification-button" (click)="goToArchived()">
        <motif-icon [src]="'/assets/icons/archived.svg'" class="notification-icon"></motif-icon>
        Archived ({{archivedItems}})
      </button>
    </div>
    <!-- Archived button needs to be enabled once the page functionality is completed -->
  </div>
</motif-card>
<ng-template #dropdownTemplate let-row>
  <div class="dropdownTemplate">
    <motif-icon class="complete" *ngIf="row.approved == true"
                [src]="'/assets/icons/action/ic_done_24px.svg'"></motif-icon>
  </div>
</ng-template>
