<div class="user-details-wrapper">
    <div class="back-wrapper">
        <motif-icon [src]="'/assets/icons/navigation/ic_arrow_back_24px.svg'"></motif-icon>&nbsp;|&nbsp;<span
            class="back-opt" (click)="backtoUserAdmin()">Back</span>
    </div>
    <div class="user-info-header">
        <h3>User info</h3>
        <motif-icon [src]="'/assets/icons/editor/ic_mode_edit_24px.svg'" class="user-edit"  *ngIf="!enableEditor">
            <span *ngIf="!enableEditor">Edit</span>
        </motif-icon>
        <div  class="edit-form" *ngIf="enableEditor">
            <button class="save-submit" motifButton color="primary" size="small">
                <motif-icon [src]="'./assets/icons/content/ic_add_24px.svg'"></motif-icon>Save
            </button>
            <button motifButton color="secondary" class="btn_close" (click)="enableEditForm()">Cancel</button>
        </div>
       
    </div>


    <div class="user-thumb">
        <motif-avatar size="large" status="online" class="user-thumb-icon"></motif-avatar><span>{{userInfo['lastName']+' '+userInfo['firstName'] }}</span>
    </div>

    <div class="user-content-container" *ngIf="!enableEditor">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 cust-col-colour">
                    First name
                </div>
                <div class="col-md-5 offset-md-1  cust-col-colour">
                    Last name
                </div>
                <div class="col-md-6 cust-col-colour cust-row-st">
                    <!--  {{ userInfo[0]?.firstName }} --> {{ userInfo['firstName'] }}
                </div>
                <div class="col-md-5 offset-md-1  cust-col-colour cust-row-st">
                    {{ userInfo['lastName'] }}
                </div>
                <div class="col-md-8 mt-4 cust-col-colour">
                    Email
                </div>
                <div class="col-md-8 cust-col-colour cust-row-st">
                    {{ userInfo['userEmail'] }}
                </div>
            </div>
        </div>
    </div>

    <div class="user-content-container" *ngIf="enableEditor">
        <div class="container-fluid">
            <form [formGroup]="editUserForm" *ngIf="editUserForm">
                <div class="row">
                    <div class="col-md-6 cust-col-colour">
                        First name
                    </div>
                    <div class="col-md-5 offset-md-1  cust-col-colour">
                        Last name
                    </div>
                    <div class="col-md-6 cust-col-colour cust-row-st">
                        <motif-form-field>
                            <input motifInput type="text" aria-label="Username Form Field" formControlName="firstName"/>
                        </motif-form-field>
                    </div>
                    <div class="col-md-5 offset-md-1  cust-col-colour cust-row-st">
                        <motif-form-field>
                            <input motifInput type="text" aria-label="Email Form Field" formControlName="lastName" />
                        </motif-form-field>
                    </div>
                    <div class="col-md-8 mt-4 cust-col-colour">
                        Email
                    </div>
                    <div class="col-md-8 cust-col-colour cust-row-st">
                        <motif-form-field>
                            <input motifInput type="text" aria-label="Email Form Field" formControlName="userEmail" />
                        </motif-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>