<div class="user-details-wrapper">
  <div class="back-wrapper">
    <!-- <motif-icon [src]="'/assets/icons/navigation/ic_arrow_back_24px.svg'" (click)="backtoUserAdmin()"></motif-icon>
    &nbsp;|&nbsp;<span class="back-opt" (click)="backtoUserAdmin()">Back</span> -->
    <motif-icon class="back-button" [src]="'/assets/icons/hardware/ic_keyboard_backspace_24px.svg'" (click)="backtoUserAdmin()"></motif-icon>&nbsp;<span class="back-opt">Back</span>
  </div>
  <div class="user-info-header">
    <h3>User info</h3>
    <motif-icon [src]="'/assets/icons/editor/ic_mode_edit_24px.svg'"  [class.disabled]="!is_editable" class="user-edit" *ngIf="!enableEditor && userInfo"
      (click)="enableEditForm()">
      <span *ngIf="!enableEditor && userInfo" [class.disabled]="!is_editable" (click)="enableEditForm()">Edit</span>
    </motif-icon>
    <div class="edit-form" *ngIf="enableEditor">
      <button class="save-submit" motifButton color="primary" size="small" [disabled]="editUserForm.invalid"
        [ngClass]="editUserForm.invalid ? 'dis-button' : ''" (click)="onSubmitEditUserForm(editUserForm)">Save</button>
      <button motifButton color="secondary" class="btn_close" (click)="cancelForm()">Cancel</button>
    </div>
  </div>
  <div class="user-thumb" *ngIf="userInfo">
    <motif-avatar [userName]="fullname" *ngIf="fullname" size="large" status="online" class="user-thumb-icon">
    </motif-avatar><span class="text-capitalize">{{userInfo?.userLastName+' '+userInfo?.userFirstName }}</span>
  </div>
  <motif-toast [type]="'success'" [show]="showToastAfterEditUser">User edited successfully!</motif-toast>
  <div class="user-content-container" *ngIf="!enableEditor && userInfo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 cust-col-colour">
          First name
        </div>
        <div class="col-md-5 offset-md-1  cust-col-colour">
          Last name
        </div>
        <div class="col-md-6 cust-col-colour cust-row-st">
          <!--  {{ userInfo[0]?.firstName }} --> {{ userInfo?.userFirstName }}
        </div>
        <div class="col-md-5 offset-md-1  cust-col-colour cust-row-st">
          {{ userInfo?.userLastName }}
        </div>
        <div class="col-md-8 mt-4 cust-col-colour">
          Email
        </div>
        <div class="col-md-8 cust-col-colour cust-row-st">
          {{ userInfo?.userEmail }}
        </div>
      </div>
    </div>
  </div>

  <div class="user-content-container" *ngIf="enableEditor">
    <div class="container-fluid">
      <form [formGroup]="editUserForm" *ngIf="editUserForm">
        <div class="row">
          <div class="col-md-6 cust-col-colour">
            First name
          </div>
          <div class="col-md-5 offset-md-1  cust-col-colour">
            Last name
          </div>
          <div class="col-md-6 cust-col-colour cust-row-st">
            <motif-form-field>
              <input motifInput type="text" aria-label="Username Form Field" formControlName="first" />
              <motif-error *ngIf="editUserForm.get('first').hasError('required')">Please provide a first name!
              </motif-error>
              <motif-error *ngIf="editUserForm.get('first').hasError('pattern')">First name must contain only characters
              </motif-error>
              <motif-error *ngIf="editUserForm.get('first').hasError('maxlength')">First name can be max 250
                characters long</motif-error>
              <motif-error *ngIf="editUserForm.get('first').hasError('whitespace')">Please enter valid data
              </motif-error>

            </motif-form-field>
          </div>
          <div class="col-md-5 offset-md-1  cust-col-colour cust-row-st">
            <motif-form-field>
              <input motifInput type="text" aria-label="Email Form Field" formControlName="last" />
              <motif-error *ngIf="editUserForm.get('last').hasError('required')">Please provide a last name!
              </motif-error>
              <motif-error *ngIf="editUserForm.get('last').hasError('pattern')">Last name must contain only characters!
              </motif-error>
              <motif-error *ngIf="editUserForm.get('last').hasError('maxlength')">Last name can be max 250 characters
                long</motif-error>
              <motif-error *ngIf="editUserForm.get('last').hasError('whitespace')">Please enter valid data
              </motif-error>
            </motif-form-field>
          </div>
          <div class="col-md-8 mt-4 cust-col-colour">
            Email
          </div>
          <div class="col-md-8 cust-col-colour cust-row-st">
            <motif-form-field>
              <input motifInput type="text" aria-label="Email Form Field" formControlName="email" />
              <motif-error *ngIf="editUserForm.get('email').hasError('required')">Please provide an email!
              </motif-error>
              <motif-error *ngIf="editUserForm.get('email').hasError('pattern')">Please provide valid email!
              </motif-error>
              <motif-error *ngIf="editUserForm.get('email').hasError('maxlength')">Email can be max 250 characters
                long
              </motif-error>
            </motif-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>