$color-gray: #6e6f6e;
$font: EYInterstate, Arial, sans-serif;
$font-weight: lighter;
$color-title-background: #2E2E3A;
$color-background: #E5E5E5;

$width-menu: 140px;

$height-header: 0px;

$header-height-actual: 107px;

$container-border-radius: 10px;

$color-gray: #6e6f6e;
$color-black: #000;
$color-white: #fff;
$color-ey-yellow: #fee600;
$color-sidenav: #2E2E3A;
$color-sidenav-expanded: #191c28;
$color-sidenav-select: #454550;
$color-expanded-sidenav: #252a34;

$color-main-background: #f6f6fa;

$color-header-background: #f6f6fa;
$color-panel-background: #ffffff;

$color-title-background: #2E2E3A;
$color-title: #ffffff;

$border-title: 0px solid #ccc;
$shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.07);

$radius: 0;
$font: EYInterstate, Arial, sans-serif;
$font-weight: lighter;

$color-button: transparent; //#747480;
$color-button-hover: #2E2E3A;
$color-button-text: #000;
$color-button-text-hover: #fff;
$border-button: 1px solid black;
$radius-button: 0;
$font-button: EYInterstate, Arial, sans-serif;


$attribute-slide0-long-color: #004F4F;
$attribute-slide0-short-color: #109090;
$attribute-slide0-ord-color: #42C9C2;
$attribute-slide0-exempt-color: #5b9996;

$attribute-slide1-long-color: #542EA5;
$attribute-slide1-short-color: #724BC3;
$attribute-slide1-ord-color: #9C82D4;
$attribute-slide1-exempt-color: #240D75;

$attribute-slide2-long-color: #5A0A42;
$attribute-slide2-short-color: #922B73;
$attribute-slide2-ord-color: #B14891;
$attribute-slide2-exempt-color: #351C21;

$attribute-slide3-long-color: #082C65;
$attribute-slide3-short-color: #1777CF;
$attribute-slide3-ord-color: #35A4E8;
$attribute-slide3-exempt-color:#082C65;


