.page-header {
    margin-top: 20px;
}
.page-header h4 {
    font-family: EYInterstate;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.page-header-row {
  display: flex;
}

.search-row {
  display: flex;
  margin-top: 36px;
}

.not-error-block {
    
    font-family: EYInterstate;
    font-size: 22px;
    line-height: 20px;
    color: #747580;
    margin-top: 22px;
    font-size: 17px;
    line-height: 18px;
  }
  
  .notification-message {
    top: 13px;
    position: relative;
    cursor: pointer;
    margin-top: 26px;
    margin-left: 144px;
  }

  .form-field{
    width: 1049px;
    height: 48px;
    background: #F6F6FA;
    border: 1px solid rgba(196, 196, 205, 0.35);
    box-sizing: border-box;
    
  }

  .motif-input
  {
    border-bottom: none !important;
  }

  // ::ng-deep.motif-form-field.motif-form-field-search .motif-form-field-has-value .motif-form-field-clearable .motif-form-field-search-icon
  // {
  //   display: flex !important;
  // }

  .search-filter
  {
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 205, 0.35);
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .display-message
  {
    position: relative;
    margin: 0 auto;
    display: table;
    margin-top: 9%
  }

  .display-message .motif-icon .motif-icon-wrap .motif-icon-content svg {
    fill:#C4C4CD !important;
    height: 100px !important;
    width: 100px !important;
  }
  .notification-header
  {
    margin-left: 10px;
    font-family: EYInterstate !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }

  